h1{
    color: rgb(249, 242, 242);
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;   
}

#nome-proprío {
    color: blue;
    background-color: lightgray;
}
img {}

