body {
    background-color:rgb(245, 245, 156);
    color: red;
    font-family:Verdana, Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    padding: 10px;
    background-color: lightsalmon;
    color:orangered;
     font-family:'Lucida Sans', 'Lucida San', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     line-height: 1.6;
     margin-bottom: 5px;
}