a:hover{
    color: red;
}
body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    background-color:black;
}
h1 {
    color: green;
    padding: 16px;
    margin-bottom: 5p;
}   
strong {
    color: red;
}
h2 {
    color: green;
}
p {
    color: aliceblue;
}
h3 {
    color: aliceblue;
}
ul {
    color: aliceblue;
}
table {
    color: aliceblue;
}
a {
    color: aliceblue;
}
ol li {
    color: aliceblue;
}