body {
    background-color:rgb(245, 245, 156);
    color: black;
    font-family:Verdana, Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    padding: 20px;
    background-color: rgb(245, 245, 156);
    color:black;
     font-family:'Lucida Sans', 'Lucida San', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     line-height: 1.6;
     padding: 16px;
     margin-bottom: 5px;
     border-radius: 20px;
}