body {
    background-color: gray;
    color: #1A0A33;
}
h1 text {
    color: #1A0A33;
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 20px;

}
h2 {
    color: #1A0A33;
}
.brasil-mundo {
    color: red;
}
ol {
    color: #1A0A33;
}
ul {
    color: #1A0A33;
}