body {
    background-color: rgb(240, 249, 255);
}
h1 {
    color: rgb(25, 42, 86);
    padding: 16px;
    margin-bottom: 5px;
    border-radius: 20px;
}
h2{
    color: rgb(25, 42, 86);
    padding: 10px;
}
.Bola-copa {
    color: blue;
}
p {
    color: rgb(51, 65, 85);
}
a {
    color: rgb(37, 99, 235);
}
ol {
    color: rgb(51, 65, 85);
}
ul {
    color: rgb(51, 65, 85);
}
ul ::marker{
    color: rgb(37, 99, 235);
    font-size: 30px;
}
ol ::marker{
    color: rgb(37, 99, 235);
    font-size: 27px;
    
}
